<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.coderanger.lulz</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0CA55F59-25FA-40C0-BECA-73B9F03F06F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4706B985-4C13-4441-A781-AC82E833787E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>234FFBCF-824D-469E-B61D-D38ACAD2047B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68048336-45DB-411F-AF3A-AD5BCD7E02B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2741E4B3-7E0D-4EC6-9DE7-46E71D92BA8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1851354F-D60D-4E4B-95F9-B5C8703368AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE161058-0308-438B-B756-380820F4AE0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>415A06DB-5318-4A14-A2A9-01E911F2430B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>302D1253-3EB2-46F8-B735-835F7C0F06E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4E49BC0F-D412-468A-9050-CD5BBD7EC208</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A05764DF-8ABA-4427-A0AD-F89F8A12AE7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5F20CC97-09C3-45B1-A69B-45BCD5530C5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21A5C388-957A-4E60-B64B-43811F98D365</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>77190FB7-7D19-47B9-B2EA-1A6C1C5332A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A05764DF-8ABA-4427-A0AD-F89F8A12AE7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7C5FFF23-1E48-4277-AC44-CE2F7782C596</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EBAF1B1-9B62-4C38-89F8-087D419877FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>86A79970-5E6B-4AE8-BDFC-B461E0437873</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B68AC46F-910B-4BF9-8CFB-75BCA5E19D57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8BEDC5F4-8617-4E9A-A694-954CCF201C64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4884492E-5924-4F39-80CA-81536BC089DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>991FB07D-2F83-4DA2-88D0-CA0EE7DA6386</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9533DD9D-B2F0-4B32-8947-6FECD2762D30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ACF2427A-C60A-479D-BDF3-6439E2410B5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CED36E5A-3B72-4749-AE79-393C11D29B1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B3134A1A-1EE3-4020-9C7A-12E5E5F633E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77190FB7-7D19-47B9-B2EA-1A6C1C5332A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B68AC46F-910B-4BF9-8CFB-75BCA5E19D57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A05764DF-8ABA-4427-A0AD-F89F8A12AE7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B9E4E79F-E51E-41DE-9515-505FDF2835C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E86608D8-9B57-4E4B-830C-1E9CE4F1C833</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BF07FFE4-3D2F-47D8-8A0E-69D4EA6628AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19F64397-525C-47F4-AA09-0685802CC945</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CF159AA7-D76E-4F4A-B669-5EEC7EAA922E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF07FFE4-3D2F-47D8-8A0E-69D4EA6628AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DED78D21-C5F4-4942-A791-2AC326E4E792</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E49BC0F-D412-468A-9050-CD5BBD7EC208</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E596EA7C-22E3-4A6B-84DB-7C9930A45AA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6C115F0-CF8A-4DCD-9F9F-58A7C4A03BEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E5BA6435-E776-4100-925E-0FAF9E00E02D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>991FB07D-2F83-4DA2-88D0-CA0EE7DA6386</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FEECC996-862B-421F-8B85-5417BCDE3907</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CA8240F-FB95-49D9-BDC3-A28CB6506121</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Noah Kantrowitz</string>
	<key>description</key>
	<string>Things you really don't need</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lulz</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>ಠ_ಠ</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CE161058-0308-438B-B756-380820F4AE0F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>disapproval</string>
				<key>subtext</key>
				<string>ಠ_ಠ</string>
				<key>text</key>
				<string>Look of Disapproval</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>♪┏(・o･)┛♪┗ ( ･o･) ┓♪</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E6C115F0-CF8A-4DCD-9F9F-58A7C4A03BEC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dance</string>
				<key>subtext</key>
				<string>♪┏(・o･)┛♪┗ ( ･o･) ┓♪</string>
				<key>text</key>
				<string>Dance Emoji</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E596EA7C-22E3-4A6B-84DB-7C9930A45AA9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>table</string>
				<key>subtext</key>
				<string>(╯°□°）╯︵ ┻━┻</string>
				<key>text</key>
				<string>Table Flip</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7C5FFF23-1E48-4277-AC44-CE2F7782C596</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>(╯°□°）╯︵ ┻━┻</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5EBAF1B1-9B62-4C38-89F8-087D419877FB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>(´༎ຶД༎ຶ`)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CED36E5A-3B72-4749-AE79-393C11D29B1E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cry</string>
				<key>subtext</key>
				<string>(´༎ຶД༎ຶ`)</string>
				<key>text</key>
				<string>Cry Face</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ACF2427A-C60A-479D-BDF3-6439E2410B5D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shrug</string>
				<key>subtext</key>
				<string>¯\_(ツ)_/¯</string>
				<key>text</key>
				<string>Shrug Face</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>234FFBCF-824D-469E-B61D-D38ACAD2047B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>¯\_(ツ)_/¯</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>68048336-45DB-411F-AF3A-AD5BCD7E02B1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>┻━┻ ︵ヽ(`Д´)ﾉ︵ ┻━┻</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6CA8240F-FB95-49D9-BDC3-A28CB6506121</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>double table</string>
				<key>subtext</key>
				<string>┻━┻ ︵ヽ(`Д´)ﾉ︵ ┻━┻</string>
				<key>text</key>
				<string>Double Table Flip</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FEECC996-862B-421F-8B85-5417BCDE3907</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>ʕ•ᴥ•ʔ</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4884492E-5924-4F39-80CA-81536BC089DB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>koala</string>
				<key>subtext</key>
				<string>ʕ•ᴥ•ʔ</string>
				<key>text</key>
				<string>Koala Face</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8BEDC5F4-8617-4E9A-A694-954CCF201C64</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>unflip</string>
				<key>subtext</key>
				<string>┬─┬ノ( º _ ºノ)</string>
				<key>text</key>
				<string>Table Unflip</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>415A06DB-5318-4A14-A2A9-01E911F2430B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>┬─┬ノ( º _ ºノ)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>302D1253-3EB2-46F8-B735-835F7C0F06E2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>(\) (°,,,°) (/)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1851354F-D60D-4E4B-95F9-B5C8703368AB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zoidberg</string>
				<key>subtext</key>
				<string>(\) (°,,,°) (/)</string>
				<key>text</key>
				<string>Why Not Zoidberg?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2741E4B3-7E0D-4EC6-9DE7-46E71D92BA8E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>interrobang</string>
				<key>subtext</key>
				<string>‽</string>
				<key>text</key>
				<string>Interrobang</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0CA55F59-25FA-40C0-BECA-73B9F03F06F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>‽</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4706B985-4C13-4441-A781-AC82E833787E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9533DD9D-B2F0-4B32-8947-6FECD2762D30</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>import sys
sys.stdout.write(u''.join([unichr(ord(c) + 65248) if c != ' ' else unichr(0x3000) if ord(c) &lt; 256 else c for c in '{query}']).encode('utf-8'))

</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>991FB07D-2F83-4DA2-88D0-CA0EE7DA6386</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fullwidth</string>
				<key>subtext</key>
				<string>ｃｏｍｐｕｔｅｒｓ</string>
				<key>text</key>
				<string>Convert text to full-width characters</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E5BA6435-E776-4100-925E-0FAF9E00E02D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>import sys, string
input = u'{query}'
for a, b, c in zip(string.lowercase, string.uppercase, u'\u1d00\u0299\u1d04\u1d05\u1d07\ua730\u0262\u029c\u026a\u1d0a\u1d0b\u029f\u1d0d\u0274\u1d0f\u1d18Q\u0280\ua731\u1d1b\u1d1c\u1d20\u1d21x\u028f\u1d22'):
    input = input.replace(a, c).replace(b, c)
sys.stdout.write(input.encode('utf-8'))
</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BF07FFE4-3D2F-47D8-8A0E-69D4EA6628AC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>smallcaps</string>
				<key>subtext</key>
				<string>ᴄᴏᴍᴘᴜᴛᴇʀꜱ</string>
				<key>text</key>
				<string>Convert text to smallcaps</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CF159AA7-D76E-4F4A-B669-5EEC7EAA922E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>19F64397-525C-47F4-AA09-0685802CC945</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>import sys, string
input = u'{query}'
inc = u"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!#$%&amp;'()*+,-./:;&lt;=&gt;?@[\\]^_`{|}~"
outc = u"\u0250q\u0254p\u01dd\u025f\u0183\u0265\u1d09\u027e\u029el\u026fuodb\u0279s\u0287n\u028c\u028dx\u028ez\u2200q\u0186p\u018e\u2132\u05e4HI\u017f\u029e\u02e5WNO\u0500Q\u0279S\u2534\u2229\u039bMX\u2144Z0\u0196\u1105\u0190\u3123\u03db9\u312586\xa1#$%\u214b,)(*+'-\u02d9/:;&gt;=&lt;\xbf@]\\[^\u203e,}|{~"
for a, b in zip(inc, outc):
    input = input.replace(a, b)
input.replace('"', ',,')
sys.stdout.write(input[::-1].encode('utf-8'))
</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B68AC46F-910B-4BF9-8CFB-75BCA5E19D57</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>upside</string>
				<key>subtext</key>
				<string>sɹǝʇndɯoɔ</string>
				<key>text</key>
				<string>Flip text upside down</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>86A79970-5E6B-4AE8-BDFC-B461E0437873</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A05764DF-8ABA-4427-A0AD-F89F8A12AE7A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>underline</string>
				<key>subtext</key>
				<string>c̲o̲m̲p̲u̲t̲e̲r̲s̲</string>
				<key>text</key>
				<string>Convert text to underline</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DED78D21-C5F4-4942-A791-2AC326E4E792</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>import sys, string
input = u'{query}'
output = u''.join(c+u'\u0332' for c in input)
sys.stdout.write(output.encode('utf-8'))
</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4E49BC0F-D412-468A-9050-CD5BBD7EC208</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>strikethrough</string>
				<key>subtext</key>
				<string>c̶o̶m̶p̶u̶t̶e̶r̶s̶</string>
				<key>text</key>
				<string>Convert text to strikethrough</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B3134A1A-1EE3-4020-9C7A-12E5E5F633E3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>import sys, string
input = u'{query}'
output = u''.join(c+u'\u0336' for c in input)
sys.stdout.write(output.encode('utf-8'))
</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77190FB7-7D19-47B9-B2EA-1A6C1C5332A4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>http://i.coderanger.net/thisisfine.png</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>21A5C388-957A-4E60-B64B-43811F98D365</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>thisisfine</string>
				<key>subtext</key>
				<string>I'm okay with events that are unfolding currently</string>
				<key>text</key>
				<string>This is fine</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5F20CC97-09C3-45B1-A69B-45BCD5530C5E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>http://i.coderanger.net/cathug.jpg</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E86608D8-9B57-4E4B-830C-1E9CE4F1C833</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cathug</string>
				<key>text</key>
				<string>Cat hug?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B9E4E79F-E51E-41DE-9515-505FDF2835C2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0CA55F59-25FA-40C0-BECA-73B9F03F06F6</key>
		<dict>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>1851354F-D60D-4E4B-95F9-B5C8703368AB</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>19F64397-525C-47F4-AA09-0685802CC945</key>
		<dict>
			<key>ypos</key>
			<real>1110</real>
		</dict>
		<key>21A5C388-957A-4E60-B64B-43811F98D365</key>
		<dict>
			<key>ypos</key>
			<real>1510</real>
		</dict>
		<key>234FFBCF-824D-469E-B61D-D38ACAD2047B</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>2741E4B3-7E0D-4EC6-9DE7-46E71D92BA8E</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>302D1253-3EB2-46F8-B735-835F7C0F06E2</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>415A06DB-5318-4A14-A2A9-01E911F2430B</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>4706B985-4C13-4441-A781-AC82E833787E</key>
		<dict>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>4884492E-5924-4F39-80CA-81536BC089DB</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>4E49BC0F-D412-468A-9050-CD5BBD7EC208</key>
		<dict>
			<key>ypos</key>
			<real>1310</real>
		</dict>
		<key>5EBAF1B1-9B62-4C38-89F8-087D419877FB</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>5F20CC97-09C3-45B1-A69B-45BCD5530C5E</key>
		<dict>
			<key>ypos</key>
			<real>1510</real>
		</dict>
		<key>68048336-45DB-411F-AF3A-AD5BCD7E02B1</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>6CA8240F-FB95-49D9-BDC3-A28CB6506121</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>77190FB7-7D19-47B9-B2EA-1A6C1C5332A4</key>
		<dict>
			<key>ypos</key>
			<real>1410</real>
		</dict>
		<key>7C5FFF23-1E48-4277-AC44-CE2F7782C596</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>86A79970-5E6B-4AE8-BDFC-B461E0437873</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>8BEDC5F4-8617-4E9A-A694-954CCF201C64</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>9533DD9D-B2F0-4B32-8947-6FECD2762D30</key>
		<dict>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>991FB07D-2F83-4DA2-88D0-CA0EE7DA6386</key>
		<dict>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>A05764DF-8ABA-4427-A0AD-F89F8A12AE7A</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>ACF2427A-C60A-479D-BDF3-6439E2410B5D</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>B3134A1A-1EE3-4020-9C7A-12E5E5F633E3</key>
		<dict>
			<key>ypos</key>
			<real>1410</real>
		</dict>
		<key>B68AC46F-910B-4BF9-8CFB-75BCA5E19D57</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>B9E4E79F-E51E-41DE-9515-505FDF2835C2</key>
		<dict>
			<key>ypos</key>
			<real>1610</real>
		</dict>
		<key>BF07FFE4-3D2F-47D8-8A0E-69D4EA6628AC</key>
		<dict>
			<key>ypos</key>
			<real>1110</real>
		</dict>
		<key>CE161058-0308-438B-B756-380820F4AE0F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CED36E5A-3B72-4749-AE79-393C11D29B1E</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>CF159AA7-D76E-4F4A-B669-5EEC7EAA922E</key>
		<dict>
			<key>ypos</key>
			<real>1110</real>
		</dict>
		<key>DED78D21-C5F4-4942-A791-2AC326E4E792</key>
		<dict>
			<key>ypos</key>
			<real>1310</real>
		</dict>
		<key>E596EA7C-22E3-4A6B-84DB-7C9930A45AA9</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>E5BA6435-E776-4100-925E-0FAF9E00E02D</key>
		<dict>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>E6C115F0-CF8A-4DCD-9F9F-58A7C4A03BEC</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>E86608D8-9B57-4E4B-830C-1E9CE4F1C833</key>
		<dict>
			<key>ypos</key>
			<real>1610</real>
		</dict>
		<key>FEECC996-862B-421F-8B85-5417BCDE3907</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/coderanger/alfred-lulz</string>
</dict>
</plist>
